@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
}

h1,
h2 {
    font-family: "Inter", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: none;
}

.linear-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    padding: 40px 30px 40px;
}

.custom-border {
    border-radius: 30px 30px 0px 0px;
}

.image-wrapper {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff4d;
}

.custom-before::before {
    background-position: 50%;
    background-size: cover;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: inherit;
    width: 100%;
    z-index: -2;
    background-image: url(../assets/images/Ali_AD.png);
}