@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}
